

.btn-flip {
  perspective: 1000px;
  transform: translateZ(0); 
  user-select: none;
  -webkit-user-select: none;
}

.btn-flip-content {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  /* CHANGE: Animation ko smooth banane ke liye easing add ki hai */
  transition: transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform-style: preserve-3d;
}

/* CHANGE: Ab yeh hover ke sath sath keyboard focus par bhi kaam karega */
.btn-flip:hover .btn-flip-content,
.btn-flip:focus-within .btn-flip-content {
  transform: rotateY(180deg);
}

.front-text,
.back-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align:  center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.back-text {
  transform: rotateY(180deg);
}